/*
 * Copyright (c) 2020 Pete Johanson
 *
 * SPDX-License-Identifier: MIT
 */

#include "lily58.dtsi"

&kscan0 {
    col-gpios
        = <&pro_micro 19 GPIO_ACTIVE_HIGH>
        , <&pro_micro 18 GPIO_ACTIVE_HIGH>
        , <&pro_micro 15 GPIO_ACTIVE_HIGH>
        , <&pro_micro 14 GPIO_ACTIVE_HIGH>
        , <&pro_micro 16 GPIO_ACTIVE_HIGH>
        , <&pro_micro 10 GPIO_ACTIVE_HIGH>
        ;
};

&left_encoder {
    status = "okay";
};

&spi3 {
	compatible = "nordic,nrf-spim";
	status = "okay";

	pinctrl-0 = <&spi3_default>;
	pinctrl-1 = <&spi3_sleep>;
	pinctrl-names = "default", "sleep";


    backlight_leds: ws2812_backlight@6 {
        compatible = "worldsemi,ws2812-spi";
        label = "BACKLIGHT";
        reg = <6>;                   /* start index in the chain */
        spi-max-frequency = <4000000>;
        chain-length = <30>;          /* 36 total - 6 underglow = 30 LEDs */
        spi-one-frame = <0x70>;
        spi-zero-frame = <0x40>;
        color-mapping = <LED_COLOR_ID_GREEN LED_COLOR_ID_RED LED_COLOR_ID_BLUE>;
    };

    underglow_leds: ws2812_underglow@0 {
        compatible = "worldsemi,ws2812-spi";
        label = "UNDERGLOW";
        reg = <0>;                    /* start index */
        spi-max-frequency = <4000000>;
        chain-length = <6>;            /* first 6 LEDs */
        spi-one-frame = <0x70>;
        spi-zero-frame = <0x40>;
        color-mapping = <LED_COLOR_ID_GREEN LED_COLOR_ID_RED LED_COLOR_ID_BLUE>;
    };
};

/ {
    chosen {
      zmk,battery = &vbatt;
      zmk,backlight = &backlight_leds;
      zmk,underglow = &underglow_leds;
    };

    vbatt: vbatt {
        compatible = "zmk,battery-nrf-vddh";
    };
};

